body {
    background-color: lightblue;
    font-family: sans-serif;
}

.container {
    margin: auto;
    margin-top: 5rem;
    height: 20rem;
    width: 25rem;
}

.top {
    background-color: #6a96d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.circle {
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    border-radius: 50%;
    margin-left: 1rem;
}

img {
    margin-right: 0.5rem;
}

img:hover {
    transform: rotate(150deg);
    transition: 1s;
}

h4 {
    margin-right: 9rem;
    font-family: sans-serif;
    color: #e7edf6;
}

.bottom {
    background-color: white;
    height: 32.5rem;
}

.line1 {
    margin-top: 0.8rem;
    height: 0.01rem;
    width: 9rem;
    background-color: #999999;
}

.line {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.p1 {
    color: #c7c3c3;
    font-weight: 100;
    font-size: small;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
}

h6 {
    font-size: smaller;
    font-weight: 100;
    color: #999999;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
}

.p2 {
    background-color: #e7edf6;
    margin-right: 7rem;
    margin-left: 1rem;
    border-radius: 3px;
    line-height: 1.6rem;
    font-size: 0.78rem;
    font-weight: 750;
    /* padding-top: 0.5rem; */
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
}

.tmeg2 {
    margin-left: rem;
    /* display: flex; */
    justify-content: flex-end;
    padding-top: 2rem;
    padding-left: 3rem;
}

.p3 {
    margin-left: 5rem;
    background-color: whitesmoke;
    margin-right: 1rem;
    /* margin-left: 1rem; */
    border-radius: 3px;
    line-height: 1.6rem;
    font-size: 0.78rem;
    font-weight: 750;
    /* padding-b: 1rem; */
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
}

.h1 {
    font-size: smaller;
    font-weight: 100;
    color: #999999;
    margin-left: 19rem;
    padding-bottom: 0.5rem;
}

.p4 {
    background-color: #e7edf6;
    margin-right: 19rem;
    margin-left: 1rem;
    border-radius: 3px;
    line-height: 1.6rem;
    font-size: 0.78rem;
    font-weight: 750;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
}

.p5 {
    background-color: #fec1c0;
    margin-right: 0.2rem;
    margin-left: 9rem;
    border-radius: 3px;
    line-height: 1.6rem;
    font-size: 0.78rem;
    font-weight: 750;
    /* padding-b: 1rem; */
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.9rem;
}

.big {
    display: flex;
    justify-content: space-between;
}

h5 {
    color: #6a96d8;
    margin-right: 2rem;
    margin-top: 1rem;
}

.p9 {
    margin-left: 1rem;
    color: black;
    margin-top: 1rem;
    border: none;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #999999;
}

.big {
    border-top: #e4e1e1 solid 0.01rem;
}

h5:hover {
    cursor: pointer;
}